<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lovenotes - Signup</title>
</head>
<body>
<section class="signup">
  <h1>Sign Up</h1>
  <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

  <form action="/signup" method="post" class="signup-form">
    <input type="email" name="email" id="email" placeholder="johndoe@email.com" autofocus>
    <input type="password" name="password" id="password">
    <input type="submit" name="" value="Sign Up">
  </form>
</section>
</body>
</html>
