* {
  box-sizing: border-box;
}

body, html {
  background: black;
  padding: 0;
  margin: 0;
  font-family: "Pangolin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  color: white;
}

.log_in {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
}

#log_in__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#log_in__form input {
  border: none;
  color: white;
  outline: none;
  max-width: 50%;
  min-width: 50%;
  box-shadow: 1px 0px red, -1px 0px blue;
  margin-bottom: 1em;
}

#username, #password {
  background-color: black;
}

#submit {
  background-color: linear-gradient(to right, blue, red);
  transition: all 1s;
}

#submit:hover {
  background: linear-gradient(to left, blue, red);
  box-shadow: 1px 0px blue, -1px 0px red;
  transition: all 1s;
}
